.background {
  background: url("../assets/images/background.png") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginIcon{
  width: 60px;
  height: 60px;
}

.shadow-lg {
  border-radius: 15px;
}

.form-label {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-control {
  padding-left: 40px;
}

.form-group {
  position: relative;
}

.form-group i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #6c757d;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

.btn-secondary {
  background-color: #6c757d;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

.custom-card {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-primary {
  color: #007bff;
  cursor: pointer;
}

.text-primary:hover {
  text-decoration: underline;
}

.text-end {
  text-align: end;
}